view,
navigator,
input,
scroll-view {
  box-sizing: border-box;
  /* 跨平台字体优先级优化 */
  font-family: "PingFang SC", /* iOS/macOS 苹方-简 */
  "Microsoft YaHei", "微软雅黑", /* Windows 微软雅黑 */
  "Roboto", /* 安卓常见无衬线字体 */
  -apple-system, BlinkMacSystemFont,
  "Helvetica Neue", Helvetica, Arial,
  sans-serif;
}


button::after {
  border: none;
}

swiper,
scroll-view {
  flex: 1;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

image {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}


// 两行省略
@mixin ellipsis($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

// 自定义按钮--常用（提交、返回首页等）
@mixin customBtn() {
  text-align: center;
  width: 309rpx;
  height: 87rpx;
  line-height: 87rpx;
  background: #ffd018;
  border-radius: 44rpx;
}

// 自定义input样式
@mixin customUniEasyInput() {
  .uni-easyinput__content {
    .uni-easyinput__inner {
      border: 1rpx solid #f1f1f1;
      border-radius: 8rpx;
      padding: 0 20rpx;
      font-size: 28rpx;
      color: #0b0a0a;
      background-color: #fafafa;
      height: 80rpx;
      line-height: 80rpx;

      &::placeholder {
        color: #b5b5b5;
      }

      &:focus {
        border-color: #ffd018;
        background-color: #ffffff;
      }
    }
  }
}

// 自定义选择TAB
@mixin customSelected() {
  :deep(.uni-stat__select) {
    width: 157rpx;
  }
  :deep(.uni-select) {
    height: 38rpx !important;
    min-height: 38rpx !important;
    border-radius: 19rpx !important;
  }

  :deep(.border-default) {
    border: 1px solid #cccccc;
  }
  :deep(.uni-select__input-box) {
    height: 38rpx !important;
    line-height: 38rpx !important;
  }
  :deep(.uni-select__input-text) {
    font-size: 24rpx;
  }
  :deep(.uni-stat-box) {
    background-color: transparent !important;
  }
}

// 页面渐变 + 虚化背景
@mixin page-background(
  $saturate: 1.6,
  $split: 55%,
  $baseColor: #f8f8f8
) {
  position: relative;
  height: 100vh;
  overflow: hidden;

  background: linear-gradient(
      to bottom right,
      #ffeba4,
      #feeca6,
      #f5f2dc,
      #eff3f0,
      #ebf1f4,
      #e7f1f9
  );

  filter: saturate($saturate);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    background:
      linear-gradient(
          to bottom,
          transparent 45%,
          rgba(248, 248, 248, 0.4) 50%,
          $baseColor $split
      ),
      linear-gradient(
          to bottom,
          transparent 25%,
          rgba(255, 255, 255, 0.2) 45%,
          rgba(255, 255, 255, 0.4) 50%
      ),
      radial-gradient(circle at top left, rgba(255, 255, 255, 0.4), transparent 70%),
      radial-gradient(circle at top right, rgba(255, 255, 255, 0.4), transparent 70%),
      radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.1), transparent 90%),
      radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.1), transparent 90%);
  }
}

