$qs-pageBackGroundColor: #f8f8f8; //页面颜色
$qs-brandColor: #ffd018; //品牌色 价格颜色

$qs-font-title: #0B0A0A; //标题
$qs-font-dec: #6A6451; // 辅助文字
$qs-font-dec2: #B5B5B5; // 辅助文字2


$qs-border: #f1f1f1; // 边框色
