$qs-pageBackGroundColor: #f8f8f8; //页面颜色
$qs-brandColor: #eed261; //品牌色 价格颜色

$qs-font-title: #0b0a0a; //标题
$qs-font-dec: #919191; // 辅助文字
$qs-font-dec2: #b2b2b2; // 辅助文字2
$qs-card-bg: #fef8e5; // 卡片颜色

$qs-border: #f1f1f1; // 边框色
