@font-face {
  font-family: "iconfont"; /* Project id 5127112 */
  src: url('iconfont.woff2?t=1771025979385') format('woff2'),
       url('iconfont.woff?t=1771025979385') format('woff'),
       url('iconfont.ttf?t=1771025979385') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before {
  content: "\e600";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-ditu:before {
  content: "\e705";
}

.icon-shoucang:before {
  content: "\e694";
}

.icon-dingwei:before {
  content: "\e6a2";
}

.icon-shijian:before {
  content: "\e77c";
}

.icon-dianhuabodadianhua:before {
  content: "\e60a";
}

